In [1]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("Pipelines Spark ML").getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/01/04 16:27:23 WARN Utils: Your hostname, JayWin10Pc resolves to a loopback address: 127.0.1.1; using 172.17.52.247 instead (on interface eth0)
24/01/04 16:27:23 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/04 16:27:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/04 16:27:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
import os
pwd = os.getcwd()
print(pwd)
print("{}/data/miserables_full.txt".format(pwd))

/home/jayl/datascientestfile/spark
/home/jayl/datascientestfile/spark/data/miserables_full.txt

In [6]:
hr = spark.read.csv("{}/data/HR_comma_sep.csv".format(pwd),header=True)
hr.sample(False,0.001,seed = 111).toPandas()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.82,0.85,5,248,5,0,1,0,sales,low
1,0.5,0.55,4,148,3,1,0,0,hr,low
2,0.24,0.65,6,194,3,0,0,0,technical,low
3,0.89,0.63,4,164,3,0,0,0,hr,low
4,0.52,0.63,3,269,2,0,0,0,sales,medium
5,0.24,0.65,6,210,5,0,0,0,management,high
6,0.33,0.62,4,113,6,0,0,0,sales,medium
7,0.62,0.64,3,165,3,0,0,0,IT,high
8,0.53,0.53,4,257,2,0,0,0,management,high

In [16]:
hr.printSchema()
hr = hr.select(
        hr.left,
        hr.satisfaction_level,
        hr.last_evaluation,
        hr.number_project,
        hr.average_montly_hours,
        hr.time_spend_company,
        hr.Work_accident,
        hr.promotion_last_5years,
        hr.sales,
        hr.salary
)

hr.printSchema()

print(hr.summary().toPandas())

print(hr.describe().toPandas())

root
 |-- left: string (nullable = true)
 |-- satisfaction_level: string (nullable = true)
 |-- last_evaluation: string (nullable = true)
 |-- number_project: string (nullable = true)
 |-- average_montly_hours: string (nullable = true)
 |-- time_spend_company: string (nullable = true)
 |-- Work_accident: string (nullable = true)
 |-- promotion_last_5years: string (nullable = true)
 |-- sales: string (nullable = true)
 |-- salary: string (nullable = true)

root
 |-- left: string (nullable = true)
 |-- satisfaction_level: string (nullable = true)
 |-- last_evaluation: string (nullable = true)
 |-- number_project: string (nullable = true)
 |-- average_montly_hours: string (nullable = true)
 |-- time_spend_company: string (nullable = true)
 |-- Work_accident: string (nullable = true)
 |-- promotion_last_5years: string (nullable = true)
 |-- sales: string (nullable = true)
 |-- salary: string (nullable = true)

  summary                 left   satisfaction_level      last_evaluation  \
0   count                14999                14999                14999
1    mean   0.2380825388359224   0.6128335222348166   0.7161017401159978
2  stddev  0.42592409938029885  0.24863065106114257  0.17116911062327556
3     min                    0                 0.09                 0.36
4     25%                  0.0                 0.44                 0.56
5     50%                  0.0                 0.64                 0.72
6     75%                  0.0                 0.82                 0.87
7     max                    1                    1                    1

       number_project average_montly_hours  time_spend_company  \
0               14999                14999               14999
1    3.80305353690246    201.0503366891126   3.498233215547703
2  1.2325923553183513    49.94309937128406  1.4601362305354808
3                   2                  100                  10
4                 3.0                156.0                 3.0
5                 4.0                200.0                 3.0
6                 5.0                245.0                 4.0
7                   7                   99                   8

         Work_accident promotion_last_5years      sales  salary
0                14999                 14999      14999   14999
1   0.1446096406427095  0.021268084538969265       None    None
2  0.35171855238017957    0.1442814645785825       None    None
3                    0                     0         IT    high
4                  0.0                   0.0       None    None
5                  0.0                   0.0       None    None
6                  0.0                   0.0       None    None
7                    1                     1  technical  medium

  summary                 left   satisfaction_level      last_evaluation  \
0   count                14999                14999                14999
1    mean   0.2380825388359224   0.6128335222348166   0.7161017401159978
2  stddev  0.42592409938029885  0.24863065106114257  0.17116911062327556
3     min                    0                 0.09                 0.36
4     max                    1                    1                    1

       number_project average_montly_hours  time_spend_company  \
0               14999                14999               14999
1    3.80305353690246    201.0503366891126   3.498233215547703
2  1.2325923553183513    49.94309937128406  1.4601362305354808
3                   2                  100                  10
4                   7                   99                   8

         Work_accident promotion_last_5years      sales  salary
0                14999                 14999      14999   14999
1   0.1446096406427095  0.021268084538969265       None    None
2  0.35171855238017957    0.1442814645785825       None    None
3                    0                     0         IT    high
4                    1                     1  technical  medium

In [31]:
from pyspark.ml.feature import StringIndexer

SalesIndexer = StringIndexer(inputCol = "sales",outputCol = "indexdsales").fit(hr)
print(type(SalesIndexer))

hrSalesIndexed = SalesIndexer.transform(hr)


hrSalesIndexed.sample(False,0.001,seed=111).toPandas()

<class 'pyspark.ml.feature.StringIndexerModel'>

,left,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary,indexdsales
0,1,0.82,0.85,5,248,5,0,0,sales,low,0.0
1,0,0.5,0.55,4,148,3,1,0,hr,low,8.0
2,0,0.24,0.65,6,194,3,0,0,technical,low,1.0
3,0,0.89,0.63,4,164,3,0,0,hr,low,8.0
4,0,0.52,0.63,3,269,2,0,0,sales,medium,0.0
5,0,0.24,0.65,6,210,5,0,0,management,high,9.0
6,0,0.33,0.62,4,113,6,0,0,sales,medium,0.0
7,0,0.62,0.64,3,165,3,0,0,IT,high,3.0
8,0,0.53,0.53,4,257,2,0,0,management,high,9.0

In [34]:
from pyspark.ml.feature import IndexToString

salesReconstructed = IndexToString(inputCol="indexdsales",outputCol="salesReconstructed",labels=SalesIndexer.labels)

hrSalesReconstructed = salesReconstructed.transform(hrSalesIndexed)

hrSalesReconstructed.sample(False,0.001,seed=222).toPandas()

,left,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary,indexdsales,salesReconstructed
0,0,0.87,0.71,3,132,2,0,0,sales,low,0.0,sales
1,0,0.88,0.86,3,187,3,0,0,marketing,low,5.0,marketing
2,0,0.59,0.77,3,169,3,0,0,IT,low,3.0,IT
3,0,0.96,0.51,3,237,4,0,0,technical,high,1.0,technical
4,0,0.67,0.58,5,161,3,1,0,support,low,2.0,support
5,0,0.87,0.95,3,242,5,0,0,sales,low,0.0,sales
6,0,0.9,0.85,4,279,6,0,0,support,medium,2.0,support
7,0,0.92,0.77,5,191,2,0,0,technical,medium,1.0,technical
8,0,0.62,0.78,3,178,3,1,0,technical,low,1.0,technical
9,0,0.83,0.89,4,136,3,0,0,sales,medium,0.0,sales
10,0,0.79,0.98,3,217,3,0,0,sales,low,0.0,sales
11,1,0.46,0.57,2,139,3,0,0,sales,low,0.0,sales
12,1,0.81,0.91,4,229,5,0,0,support,low,2.0,support
13,0,0.59,0.88,3,159,2,0,0,technical,medium,1.0,technical
14,1,0.45,0.54,2,135,3,0,0,sales,low,0.0,sales
15,1,0.11,0.83,6,306,4,0,0,support,low,2.0,support

In [68]:
from pyspark.ml import Pipeline

SalesIndexer = StringIndexer(inputCol="sales",outputCol ="indexedSales")
SalaryIndexer = StringIndexer(inputCol="salary",outputCol ="indexedSalary")

indexer = Pipeline(stages=[SalesIndexer,SalaryIndexer])

hrIndexed = indexer.fit(hr).transform(hr)

hrIndexed.sample(False,0.001,seed = 111).toPandas()

,left,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,sales,salary,indexedSales,indexedSalary
0,1,0.82,0.85,5,248,5,0,0,sales,low,0.0,0.0
1,0,0.5,0.55,4,148,3,1,0,hr,low,8.0,0.0
2,0,0.24,0.65,6,194,3,0,0,technical,low,1.0,0.0
3,0,0.89,0.63,4,164,3,0,0,hr,low,8.0,0.0
4,0,0.52,0.63,3,269,2,0,0,sales,medium,0.0,1.0
5,0,0.24,0.65,6,210,5,0,0,management,high,9.0,2.0
6,0,0.33,0.62,4,113,6,0,0,sales,medium,0.0,1.0
7,0,0.62,0.64,3,165,3,0,0,IT,high,3.0,2.0
8,0,0.53,0.53,4,257,2,0,0,management,high,9.0,2.0

In [45]:
from pyspark.ml.linalg import DenseVector

hrNumeric = hrIndexed.select(
        hrIndexed.left,
        hrIndexed.satisfaction_level,
        hrIndexed.last_evaluation,
        hrIndexed.number_project,
        hrIndexed.average_montly_hours,
        hrIndexed.time_spend_company,
        hrIndexed.Work_accident,
        hrIndexed.promotion_last_5years,
        hrIndexed.indexedSales,
        hrIndexed.indexedSalary
)

hrNumeric.show()

hrRdd = hrNumeric.rdd.map(lambda x:(x[0],DenseVector(x[1:])))
hrLibsvm = spark.createDataFrame(hrRdd,["label","features"])

hrLibsvm.sample(False,0.001,seed=333).toPandas()

+----+------------------+---------------+--------------+--------------------+------------------+-------------+---------------------+------------+-------------+
|left|satisfaction_level|last_evaluation|number_project|average_montly_hours|time_spend_company|Work_accident|promotion_last_5years|indexedSales|indexedSalary|
+----+------------------+---------------+--------------+--------------------+------------------+-------------+---------------------+------------+-------------+
|   1|              0.38|           0.53|             2|                 157|                 3|            0|                    0|         0.0|          0.0|
|   1|               0.8|           0.86|             5|                 262|                 6|            0|                    0|         0.0|          1.0|
|   1|              0.11|           0.88|             7|                 272|                 4|            0|                    0|         0.0|          1.0|
|   1|              0.72|           0.87|             5|                 223|                 5|            0|                    0|         0.0|          0.0|
|   1|              0.37|           0.52|             2|                 159|                 3|            0|                    0|         0.0|          0.0|
|   1|              0.41|            0.5|             2|                 153|                 3|            0|                    0|         0.0|          0.0|
|   1|               0.1|           0.77|             6|                 247|                 4|            0|                    0|         0.0|          0.0|
|   1|              0.92|           0.85|             5|                 259|                 5|            0|                    0|         0.0|          0.0|
|   1|              0.89|              1|             5|                 224|                 5|            0|                    0|         0.0|          0.0|
|   1|              0.42|           0.53|             2|                 142|                 3|            0|                    0|         0.0|          0.0|
|   1|              0.45|           0.54|             2|                 135|                 3|            0|                    0|         0.0|          0.0|
|   1|              0.11|           0.81|             6|                 305|                 4|            0|                    0|         0.0|          0.0|
|   1|              0.84|           0.92|             4|                 234|                 5|            0|                    0|         0.0|          0.0|
|   1|              0.41|           0.55|             2|                 148|                 3|            0|                    0|         0.0|          0.0|
|   1|              0.36|           0.56|             2|                 137|                 3|            0|                    0|         0.0|          0.0|
|   1|              0.38|           0.54|             2|                 143|                 3|            0|                    0|         0.0|          0.0|
|   1|              0.45|           0.47|             2|                 160|                 3|            0|                    0|         0.0|          0.0|
|   1|              0.78|           0.99|             4|                 255|                 6|            0|                    0|         0.0|          0.0|
|   1|              0.45|           0.51|             2|                 160|                 3|            1|                    1|         0.0|          0.0|
|   1|              0.76|           0.89|             5|                 262|                 5|            0|                    0|         0.0|          0.0|
+----+------------------+---------------+--------------+--------------------+------------------+-------------+---------------------+------------+-------------+
only showing top 20 rows

   label                                           features
0      1  [0.42, 0.56, 2.0, 146.0, 3.0, 0.0, 0.0, 6.0, 0.0]
1      0  [0.65, 0.64, 3.0, 223.0, 4.0, 0.0, 0.0, 0.0, 0.0]
2      0   [0.69, 0.9, 5.0, 231.0, 2.0, 1.0, 0.0, 2.0, 0.0]
3      0  [0.56, 0.68, 3.0, 149.0, 2.0, 0.0, 0.0, 9.0, 1.0]
4      0   [0.5, 0.57, 3.0, 219.0, 3.0, 0.0, 0.0, 0.0, 1.0]
5      0  [0.91, 0.61, 3.0, 262.0, 3.0, 0.0, 0.0, 1.0, 0.0]
6      0  [0.88, 0.58, 2.0, 123.0, 4.0, 0.0, 0.0, 0.0, 0.0]
7      0   [0.98, 0.5, 3.0, 198.0, 3.0, 0.0, 0.0, 5.0, 1.0]
8      0  [0.59, 0.51, 2.0, 145.0, 5.0, 0.0, 0.0, 1.0, 1.0]
9      0   [0.99, 0.7, 3.0, 219.0, 3.0, 0.0, 0.0, 2.0, 0.0]
10     0  [0.84, 0.64, 2.0, 211.0, 3.0, 0.0, 0.0, 0.0, 1.0]
11     0  [0.68, 0.75, 4.0, 258.0, 3.0, 0.0, 0.0, 9.0, 2.0]
12     0  [0.86, 0.82, 4.0, 212.0, 2.0, 0.0, 0.0, 4.0, 1.0]
13     0  [0.61, 0.96, 3.0, 214.0, 2.0, 0.0, 0.0, 3.0, 1.0]
14     0  [0.62, 0.91, 3.0, 251.0, 10.0, 0.0, 0.0, 0.0, ...

In [46]:
hrNumeric.describe().toPandas()

,summary,left,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,indexedSales,indexedSalary
0,count,14999,14999,14999,14999,14999,14999,14999,14999,14999,14999
1,mean,0.2380825388359224,0.6128335222348166,0.7161017401159978,3.80305353690246,201.0503366891126,3.498233215547703,0.1446096406427095,0.021268084538969265,2.69551303420228,0.5947063137542503
2,stddev,0.42592409938029885,0.24863065106114257,0.17116911062327556,1.2325923553183513,49.94309937128406,1.4601362305354808,0.35171855238017957,0.1442814645785825,2.754845263313967,0.6371829504695818
3,min,0,0.09,0.36,2,100,10,0,0,0.0,0.0
4,max,1,1,1,7,99,8,1,1,9.0,2.0

In [48]:
from pyspark.ml.feature import VectorIndexer

featureIndexer = VectorIndexer(inputCol="features",
                               outputCol="indexedFeatures",
                               maxCategories=10).fit(hrLibsvm)

In [78]:
from pyspark.ml.classification import RandomForestClassifier

hr.select("Sales").distinct().show()

labelIndexer = StringIndexer(inputCol = "label",outputCol="indexedlabel").fit(hrLibsvm)

featureIndexer = VectorIndexer(inputCol="features",outputCol="indexedFeatures",maxCategories=10).fit(hrLibsvm)

rf = RandomForestClassifier(labelCol="indexedlabel",featuresCol = "indexedFeatures",predictionCol="prediction",seed=111)

labelConverter =  IndexToString(inputCol="indexedlabel",outputCol="predictedLabel",labels=labelIndexer.labels)

pipeline = Pipeline(stages=[labelIndexer,featureIndexer,rf,labelConverter])

(train,test) = hrLibsvm.randomSplit([.7,.3],seed  = 777)

model = pipeline.fit(train)

+-----------+
|      Sales|
+-----------+
| management|
|product_mng|
|  marketing|
|      sales|
|         hr|
| accounting|
|    support|
|         IT|
|  technical|
|      RandD|
+-----------+

In [74]:
predictions = model.transform(test)

predictions.sample(False,.001,seed=111).toPandas()

,label,features,indexedlabel,indexedFeatures,rawPrediction,probability,prediction,predictedLabel
0,0,"[0.48, 0.42, 2.0, 275.0, 6.0, 1.0, 1.0, 8.0, 1.0]",0.0,"[0.48, 0.42, 0.0, 275.0, 4.0, 1.0, 1.0, 8.0, 1.0]","[18.33758896760562, 1.6624110323943815]","[0.9168794483802809, 0.08312055161971907]",0.0,0
1,0,"[0.81, 0.86, 3.0, 231.0, 3.0, 0.0, 0.0, 0.0, 0.0]",0.0,"[0.81, 0.86, 1.0, 231.0, 1.0, 0.0, 0.0, 0.0, 0.0]","[18.59168163199971, 1.4083183680002895]","[0.9295840815999854, 0.07041591840001447]",0.0,0
2,0,"[0.89, 0.65, 3.0, 208.0, 2.0, 0.0, 0.0, 2.0, 0.0]",0.0,"[0.89, 0.65, 1.0, 208.0, 0.0, 0.0, 0.0, 2.0, 0.0]","[19.659289993237262, 0.3407100067627297]","[0.9829644996618635, 0.017035500338136493]",0.0,0

In [77]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Création d'un évaluateur 
evaluator = MulticlassClassificationEvaluator(metricName='accuracy',
                                              labelCol= 'indexedlabel',
                                              predictionCol= 'prediction')
# Calcul et affichage de la précision du modèle 
accuracy = evaluator.evaluate(predictions)
print(accuracy)

0.9702904929577465